$red: rgba(244, 25, 9, 1);
$green: rgba(10, 206, 27, 1);

$sideNavColor: #f2fafe;
$topNavColor: #A3CEF1;
$borderColor: #A3CEF1;
$containerColor:#f2fafe;

@import 'bootstrapGrid';
@import 'nav';
@import 'priceView';
@import 'stratView';

.positive-num {
  color: $green;
}

.negative-num {
  color: $red;
}

body {
  background-color: #f2f3f5;
}

.text-bold {
  font-weight: bold;
}